MONGODB_URL =mongodb://localhost:27017/social-media-miniapp
RESEND_PUBLIC_KEY=your_resend_public_key
CLOUDINARY_API_SECRET=your_cloudinary_key
CLOUDINARY_API_KEY=your_cloudinary_key
JWT_SECRET=your_jwt_secret
